html {
    background-color: rgb(27, 111, 189);
  }

  h1 {
    font-size: 50px;
    text-align: center;
  }
  
  p, li {
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
    color: #e6d70bce;
  }

body {
    color: #ee8206
}

img {
    display: block;
    margin: 0 auto;
}