- name: Create Virtual Network '{{ az_virtual_network }}'
  azure.azcollection.azure_rm_virtualnetwork:
    name: "{{ az_virtual_network }}"
    resource_group: "{{ az_resource_group }}"
    address_prefixes_cidr:
        - "{{ az_cidr_block }}"
    tags:
      Environment: "{{ az_prefix }}"