- name: Check AWS_ACCESS_KEY_ID is defined as an environment variable
  ansible.builtin.fail:
    msg: "AWS_ACCESS_KEY_ID is not defined. Provide your Key with 'export AWS_ACCESS_KEY_ID=...'"
  when:
    - check == 'n/a'
  vars:
    check: "{{ lookup('env', 'AWS_ACCESS_KEY_ID') | default('n/a', True) }}"

- name: Check AWS_SECRET_ACCESS_KEY is defined as an environment variable
  ansible.builtin.fail:
    msg: "AWS_SECRET_ACCESS_KEY is not defined. Provide your Secret with 'export AWS_SECRET_ACCESS_KEY=...'"
  when:
    - check == 'n/a'
  vars:
    check: "{{ lookup('env', 'AWS_SECRET_ACCESS_KEY') | default('n/a', True) }}"