- name: Check that Cloud Provider selected is supported
  ansible.builtin.assert: { that: "cloud_provider in supported_clouds" }

- name: Include cloud-specific checks
  ansible.builtin.include_tasks: "{{ cloud_provider }}.yml"

- name: Loop over virtual machine options to validate the OS is supported
  ansible.builtin.assert: { that: "item.value in supported_os" }
  loop: "{{ vms | dict2items }}"